body{
  font-family: "Nunito", sans-serif !important;
  scroll-behavior: smooth !important;
}
 p{
  font-size: 16px !important;
 }
img {
position: none;
height: auto;
width: 150px;
left: 117px;
top: 12px;
border-radius: 0px;
}

.navbar-nav a {
margin-right: 45px;
font-family: 'poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 45px;
color: #00337C;
}

.navbar-custom {
    height: 25px;
    background-color: rgba(255, 255, 255, 1);
  }
  

.img-header {
  padding: 0 !important;
}
.header-lp {
  height: 250px !important;
  width: auto !important;
  /* position: relative; */
}

.footer-lp {
  height: 250px !important;
  width: auto !important;
  position: relative;
}

.header-text {
  font-family: "Nunito", sans-serif !important;
  color: white;
  font-size: 16px;
}

.footer-text {
  font-family: "Nunito", sans-serif !important;
  color: #00337C;
  font-size: 16px;

}


.btn-header {
  color: #00337C;
  background-color: white;
  border: none ;
  padding: 10px;
  border-radius: 1rem !important;
  font-weight: 700;
}

.btn-header:hover{
  color: white;
  background-color: #00337C;
}

.btn-footer {
  color: white;
  background-color: #00337C;
  border: none ;
  padding: 10px;
  border-radius: 1rem !important;
  font-weight: 700;
}

.btn-footer:hover{
  color: #00337C;
  background-color: white;
  border: 2px solid #00337C;
}

.txt-section2{
  color: #00337C;
  font-family: "Nunito", sans-serif !important;

}

aside {
  background-color: #ECF2FF;
}

@media (max-width: 991.98px) {
  .container-card .card{
    text-align: center;
    height: 100px;
    width: 300px;
  }
  .col-sm-4{
    text-align: center;
    justify-content: center;
  }
}

.card {
  height: 250px !important;
  border-radius: 1rem !important;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.card-body{
  justify-content: center !important;
  border-radius: 1rem !important;
  display: flex;
}

.advantage{
  margin-top: 500px;
}
.card:hover{
  box-shadow: 7px 7px 5px #00347c5b;
}
.img-card-inside{
  height: 75px;
  width: auto;
}

.txt-card-inside{
  color: #00337C;
  font-weight: bold;
  font-size: 27px;
  margin-bottom: 0 !important;
}

.text-white{
  color: white;
}

.a {
  text-decoration: none;
  color: white;
}

.contact-info h6{
  margin-top: 5px;
}

.col-sm-6{
  text-align: center;
}

.container-before-footer {
  justify-content: center;
  text-align: center;
  margin: 4rem 0px !important;
}

